
<h1><a>jMonkeyEngine 3 Tutorial (4) - Hello Update Loop</a></h1>
<div>

<p>

Previous: <a href="/com/jme3/gde/docs/jme3/beginner/hello_asset.html">Hello Assets</a>,
Next: <a href="/com/jme3/gde/docs/jme3/beginner/hello_input_system.html">Hello Input System</a>
</p>

<p>
Now that you know how to load assets, such as 3D models, you want to implement some gameplay that uses these assets. In this tutorial we look at the update loop. The update loop of your game is where the action happens.
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine 3 Tutorial (4) - Hello Update Loop" [1-404] -->
<h2><a>Code Sample</a></h2>
<div>
<pre>package jme3test.helloworld;
&nbsp;
import com.jme3.app.SimpleApplication;
import com.jme3.material.Material;
import com.jme3.math.ColorRGBA;
import com.jme3.math.Vector3f;
import com.jme3.scene.Geometry;
import com.jme3.scene.shape.Box;
&nbsp;
<span>/** Sample 4 - how to trigger repeating actions from the main update loop.
 * In this example, we make the player character rotate. */</span>
public class HelloLoop extends SimpleApplication &#123;
&nbsp;
    public static void main&#40;String&#91;&#93; args&#41;&#123;
        HelloLoop app = new HelloLoop&#40;&#41;;
        app.start&#40;&#41;;
    &#125;
&nbsp;
    protected Geometry player;
&nbsp;
    @Override
    public void simpleInitApp&#40;&#41; &#123;
&nbsp;
        Box b = new Box&#40;Vector3f.ZERO, 1, 1, 1&#41;;
        player = new Geometry&#40;&quot;blue cube&quot;, b&#41;;
        Material mat = new Material&#40;assetManager,
          &quot;Common/MatDefs/Misc/Unshaded.j3md&quot;&#41;;
        mat.setColor&#40;&quot;Color&quot;, ColorRGBA.Blue&#41;;
        player.setMaterial&#40;mat&#41;;
        rootNode.attachChild&#40;player&#41;;
    &#125;
&nbsp;
    /* This is the update loop */
    @Override
    public void simpleUpdate&#40;float tpf&#41; &#123;
        // make the player rotate
        player.rotate&#40;0, 2*tpf, 0&#41;; 
    &#125;
&#125;</pre>

<p>
Build and run the file: You see a constantly rotating cube. 
</p>

</div>
<!-- EDIT2 SECTION "Code Sample" [405-1613] -->
<h2><a>Understanding the Code</a></h2>
<div>

<p>

Compared to our previous code samples you note that the player Geometry is now a class field. This is because we want the update loop to be able to access and transform this Geometry. As usual, we initialize the player object in the <code>simpleInitApp()</code> method. 
</p>

<p>
Now have a closer look at the <code>simpleUpdate()</code> method ??? this is the update loop.
</p>
<ul>
<li><div> The <code>player.rotate(0, 2*tpf, 0);</code> line changes the rotation of the player object. </div>
</li>
<li><div> We use the <code>tpf</code> variable (&quot;time per frame&quot;) to time this action depending on the current frames per second rate. This simply means that the cube rotates with the same speed on fast and slow machines, and the game remains playable.</div>
</li>
<li><div> When the game runs, the rotate() code is executed again and again. </div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Understanding the Code" [1614-2397] -->
<h2><a>Using the Update Loop</a></h2>
<div>

<p>

A rotating object is just a simple example. In the update loop, you typically have many tests and trigger various game actions. This is were you update score and health points, check for collisions, make enemies calculate their next move, roll the dice whether a trap has been set off, play random ambient sounds, and much more.  

</p>
<ul>
<li><div> The <code>simpleUpdate()</code> method starts running after the <code>simpleInitApp()</code> method has initialized the scene graph and state variables.</div>
</li>
<li><div> JME3 executes everything in the <code>simpleUpdate()</code> method repeatedly, as fast as possible.</div>
<ol>
<li><div> Use the loop to poll the game state and then initiate actions. </div>
</li>
<li><div> Use the loop to trigger reactions and update the game state.</div>
</li>
<li><div> Use the loop wisely, because having too many calls in the loop also slows down the game.</div>
</li>
</ol>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Using the Update Loop" [2398-3231] -->
<h2><a>Init - Update - Render</a></h2>
<div>

<p>

Note the contrast:
</p>
<ul>
<li><div> The <code>simpleInitApp()</code> method is executed only once, right at the beginning; </div>
</li>
<li><div> The <code>simpleUpdate()</code> method runs repeatedly, during the game. </div>
</li>
<li><div> After every update, the jMonkeyEngine automatically redraws (<code>renders</code>) the screen for you!</div>
</li>
</ul>

<p>

Since rendering is automatic, initialization and updating are the two most important concepts in a SimpleApplication for you right now. These methods are where you load and create game data (once), and (repeatedly) change their properties to update the game state:
</p>
<ul>
<li><div> <code>simpleInitApp()</code> is the application&#039;s &quot;first breath&quot;.</div>
</li>
<li><div> <code>simpleUpdate()</code> is the application&#039;s heartbeat. <br/>
The update time unit is called <code>ticks</code>.</div>
</li>
</ul>

<p>

<p><div>Everything in a game happens either during initialization or during the update loop. This means that these two methods grow very long over time. There are two strategies how experienced developers spread out their init and update code over several Java classes:
</p>
<ul>
<li><div> Move code blocks from the simpleInitApp() method to <a href="/com/jme3/gde/docs/jme3/advanced/application_states.html">AppStates</a>.</div>
</li>
<li><div> Move code blocks from the simpleUpdate() method to <a href="/com/jme3/gde/docs/jme3/advanced/custom_controls.html">Custom Controls</a>.</div>
</li>
</ul>

<p>
Keep this in mind for later when your application grows.

</div></p>
</p>

</div>
<!-- EDIT5 SECTION "Init - Update - Render" [3232-4501] -->
<h2><a>Exercises</a></h2>
<div>

<p>

Here are some fun things to try:
</p>
<ol>
<li><div> What happens if you give the rotate() method negative numbers?</div>
</li>
<li><div> Can you create two Geometries next to each other, and make one rotate twice as fast as the other? (use the <code>tpf</code> variable)</div>
</li>
<li><div> Can you make a cube that pulsates? (grows and shrinks)</div>
</li>
<li><div> Can you make a cube that changes color? (change and set the Material)</div>
</li>
<li><div> Can you make a rolling cube? (rotate around the x axis, and translate along the z axis)</div>
</li>
</ol>

<p>

Look back at the <a href="/com/jme3/gde/docs/jme3/beginner/hello_node.html">Hello Node</a> tutorial if you do not remember the transformation methods for scaling, translating, and rotating.
</p>

<p>
<p><div>Link to user-proposed solutions: <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://jmonkeyengine.org/wiki/doku.php/jm3:solutions"><param name="text" value="<html><u>http://jmonkeyengine.org/wiki/doku.php/jm3:solutions</u></html>"><param name="textColor" value="blue"></object>
<em>Be sure to try to solve them for yourself first!</em>
</div></p>

</p>

</div>
<!-- EDIT6 SECTION "Exercises" [4502-5273] -->
<h2><a>Conclusion</a></h2>
<div>

<p>

Now you are listening to the update loop, &quot;the heart beat&quot; of the game, and you can add all kinds of action to it. 
</p>

<p>
The next thing the game needs is some <em>inter</em>action! Continue learning how to <a href="/com/jme3/gde/docs/jme3/beginner/hello_input_system.html">respond to user input</a>.
</p>
<hr/>

<p>
See also:
</p>
<ul>
<li><div> Advanced jME3 developers use <a href="/com/jme3/gde/docs/jme3/advanced/application_states.html">Application States</a> and <a href="/com/jme3/gde/docs/jme3/advanced/custom_controls.html">Custom Controls</a> to implement game mechanics in their update loops. You will come across these topics again later when you proceed to more advanced documentation.</div>
</li>
</ul>
<div><span>
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:state?do=showtag&amp;tag=tag%3Astate">state</a>,
	<a href="/wiki/doku.php/tag:states?do=showtag&amp;tag=tag%3Astates">states</a>,
	<a href="/wiki/doku.php/tag:intro?do=showtag&amp;tag=tag%3Aintro">intro</a>,
	<a href="/wiki/doku.php/tag:beginner?do=showtag&amp;tag=tag%3Abeginner">beginner</a>,
	<a href="/wiki/doku.php/tag:control?do=showtag&amp;tag=tag%3Acontrol">control</a>,
	<a href="/wiki/doku.php/tag:loop?do=showtag&amp;tag=tag%3Aloop">loop</a>
</span></div>

</div>
<!-- EDIT7 SECTION "Conclusion" [5274-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:beginner:hello_main_event_loop?do=export_xhtmlbody">view online version</a></em></p>