
<h1><a>jMonkeyEngine 3 Tutorial (3) - Hello Assets</a></h1>
<div>

<p>

Previous: <a href="/com/jme3/gde/docs/jme3/beginner/hello_node.html">Hello Node</a>,
Next: <a href="/com/jme3/gde/docs/jme3/beginner/hello_main_event_loop.html">Hello Update Loop</a>
</p>

<p>
In this tutorial we will learn to load 3D models and text into the scene graph, using the jME <a href="/com/jme3/gde/docs/jme3/advanced/asset_manager.html">Asset Manager</a>. You will also learn how to determine the correct paths, and which file formats to use.
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/jme3/beginner/beginner-assets-models.png">
</p>

<p>
<p><div><a href="/com/jme3/gde/docs/sdk/sample_code.html">Trouble finding the files to run this sample?</a> To get the assets (3D models) used in this example, add the included <code>jme3-test-data.jar</code> to your classpath. In project created with the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> (recommended), simply right-click your project, choose &quot;Properties&quot;, go to &quot;Libraries&quot;, press &quot;Add Library&quot; and add the preconfigured &quot;jme3-test-data&quot; library. 
</div></p>
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine 3 Tutorial (3) - Hello Assets" [1-838] -->
<h2><a>Code Sample</a></h2>
<div>
<pre>package jme3test.helloworld;
&nbsp;
import com.jme3.app.SimpleApplication;
import com.jme3.font.BitmapText;
import com.jme3.light.DirectionalLight;
import com.jme3.material.Material;
import com.jme3.math.Vector3f;
import com.jme3.scene.Geometry;
import com.jme3.scene.Spatial;
import com.jme3.scene.shape.Box;
&nbsp;
<span>/** Sample 3 - how to load an OBJ model, and OgreXML model, 
 * a material/texture, or text. */</span>
public class HelloAssets extends SimpleApplication &#123;
&nbsp;
    public static void main&#40;String&#91;&#93; args&#41; &#123;
        HelloAssets app = new HelloAssets&#40;&#41;;
        app.start&#40;&#41;;
    &#125;
&nbsp;
    @Override
    public void simpleInitApp&#40;&#41; &#123;
&nbsp;
        Spatial teapot = assetManager.loadModel&#40;&quot;Models/Teapot/Teapot.obj&quot;&#41;;
        Material mat_default = new Material&#40; 
            assetManager, &quot;Common/MatDefs/Misc/ShowNormals.j3md&quot;&#41;;
        teapot.setMaterial&#40;mat_default&#41;;
        rootNode.attachChild&#40;teapot&#41;;
&nbsp;
        // Create a wall with a simple texture from test_data
        Box box = new Box&#40;Vector3f.ZERO, 2.5f,2.5f,1.0f&#41;;
        Spatial wall = new Geometry&#40;&quot;Box&quot;, box &#41;;
        Material mat_brick = new Material&#40; 
            assetManager, &quot;Common/MatDefs/Misc/Unshaded.j3md&quot;&#41;;
        mat_brick.setTexture&#40;&quot;ColorMap&quot;, 
            assetManager.loadTexture&#40;&quot;Textures/Terrain/BrickWall/BrickWall.jpg&quot;&#41;&#41;;
        wall.setMaterial&#40;mat_brick&#41;;
        wall.setLocalTranslation&#40;2.0f,-2.5f,0.0f&#41;;
        rootNode.attachChild&#40;wall&#41;;
&nbsp;
        // Display a line of text with a default font
        guiNode.detachAllChildren&#40;&#41;;
        guiFont = assetManager.loadFont&#40;&quot;Interface/Fonts/Default.fnt&quot;&#41;;
        BitmapText helloText = new BitmapText&#40;guiFont, false&#41;;
        helloText.setSize&#40;guiFont.getCharSet&#40;&#41;.getRenderedSize&#40;&#41;&#41;;
        helloText.setText&#40;&quot;Hello World&quot;&#41;;
        helloText.setLocalTranslation&#40;300, helloText.getLineHeight&#40;&#41;, 0&#41;;
        guiNode.attachChild&#40;helloText&#41;;
&nbsp;
        // Load a model from test_data (OgreXML + material + texture)
        Spatial ninja = assetManager.loadModel&#40;&quot;Models/Ninja/Ninja.mesh.xml&quot;&#41;;
        ninja.scale&#40;0.05f, 0.05f, 0.05f&#41;;
        ninja.rotate&#40;0.0f, -3.0f, 0.0f&#41;;
        ninja.setLocalTranslation&#40;0.0f, -5.0f, -2.0f&#41;;
        rootNode.attachChild&#40;ninja&#41;;
        // You must add a light to make the model visible
        DirectionalLight sun = new DirectionalLight&#40;&#41;;
        sun.setDirection&#40;new Vector3f&#40;-0.1f, -0.7f, -1.0f&#41;&#41;;
        rootNode.addLight&#40;sun&#41;;
&nbsp;
    &#125;
&#125;</pre>

<p>
Build and run the code sample. You should see a green Ninja with a colorful teapot standing behind a wall. The text on the screen should say &quot;Hello World&quot;.
</p>

</div>
<!-- EDIT2 SECTION "Code Sample" [839-3449] -->
<h2><a>The Asset Manager</a></h2>
<div>

<p>

<strong>By game assets we mean all multi-media files, such as models, materials, textures, whole scenes, custom shaders, music and sound files, and custom fonts.</strong> JME3 comes with a handy AssetManager object that helps you access your assets. 
The AssetManager can load files from:
</p>
<ul>
<li><div> the current classpath (the top level of your project directory), </div>
</li>
<li><div> the <code>assets</code> directory of your project, and</div>
</li>
<li><div> optionally, custom paths that you register.</div>
</li>
</ul>

<p>

The following is the recommended directory structure for storing assets in your project directoy: 
</p>
<pre>MyGame/assets/Interface/
MyGame/assets/MatDefs/
MyGame/assets/Materials/
MyGame/assets/Models/
MyGame/assets/Scenes/
MyGame/assets/Shaders/
MyGame/assets/Sounds/
MyGame/assets/Textures/
MyGame/build.xml            &lt;-- Ant build script
MyGame/src/...              &lt;-- Java sources go here
MyGame/...</pre>

<p>
This is just a suggested best practice, and it&#039;s what you get by default when creating a new Java project in the jMokeyEngine <a href="/com/jme3/gde/docs/jme3/beginner/sdk.html">SDK</a>. You can create an <code>assets</code> directory and technically name the subdirectories whatever you like.
</p>

</div>
<!-- EDIT3 SECTION "The Asset Manager" [3450-4573] -->
<h3><a>Loading Textures</a></h3>
<div>

<p>

Place your textures in a subdirectory of <code>assets/Textures/</code>. Load the texture into the material before you set the Material. The following code sample is from the <code>simpleInitApp()</code> method and loads a simple wall model:
</p>
<pre>// Create a wall with a simple texture from test_data
Box box = new Box&#40;Vector3f.ZERO, 2.5f,2.5f,1.0f&#41;;
Spatial wall = new Geometry&#40;&quot;Box&quot;, box &#41;;
Material mat_brick = new Material&#40; 
    assetManager, &quot;Common/MatDefs/Misc/Unshaded.j3md&quot;&#41;;
mat_brick.setTexture&#40;&quot;ColorMap&quot;, 
    assetManager.loadTexture&#40;&quot;Textures/Terrain/BrickWall/BrickWall.jpg&quot;&#41;&#41;;
wall.setMaterial&#40;mat_brick&#41;;
wall.setLocalTranslation&#40;2.0f,-2.5f,0.0f&#41;;
rootNode.attachChild&#40;wall&#41;;</pre>

<p>
In this case, you <a href="/com/jme3/gde/docs/jme3/beginner/hello_material.html">create your own Material</a> and apply it to a Geometry. You base Materials on default material descriptions (such as &quot;Unshaded.j3md&quot;), as shown in this example. 
</p>

</div>
<!-- EDIT4 SECTION "Loading Textures" [4574-5490] -->
<h3><a>Loading Text and Fonts</a></h3>
<div>

<p>

This example displays the text &quot;Hello World&quot; in the default font at the bottom edge of the window. You attach text to the <code>guiNode</code> ??? this is a special node for flat (orthogonal) display elements. You display text to show the game score, player health, etc.
The following code sample goes into the <code>simpleInitApp()</code> method.
</p>
<pre>// Display a line of text with a default font
guiNode.detachAllChildren&#40;&#41;;
guiFont = assetManager.loadFont&#40;&quot;Interface/Fonts/Default.fnt&quot;&#41;;
BitmapText helloText = new BitmapText&#40;guiFont, false&#41;;
helloText.setSize&#40;guiFont.getCharSet&#40;&#41;.getRenderedSize&#40;&#41;&#41;;
helloText.setText&#40;&quot;Hello World&quot;&#41;;
helloText.setLocalTranslation&#40;300, helloText.getLineHeight&#40;&#41;, 0&#41;;
guiNode.attachChild&#40;helloText&#41;;</pre>

<p>
<strong>Tip:</strong> Clear existing text in the guiNode by detaching all its children.
</p>

</div>
<!-- EDIT5 SECTION "Loading Text and Fonts" [5491-6336] -->
<h3><a>Loading a Model</a></h3>
<div>

<p>

Export your 3D model in OgreXML format (.mesh.xml, .scene, .material, .skeleton.xml) and place it in a subdirectory of <code>assets/Models/</code>. The following code sample goes into the <code>simpleInitApp()</code> method.
</p>
<pre>// Load a model from test_data (OgreXML + material + texture)
Spatial ninja = assetManager.loadModel&#40;&quot;Models/Ninja/Ninja.mesh.xml&quot;&#41;;
ninja.scale&#40;0.05f, 0.05f, 0.05f&#41;;
ninja.rotate&#40;0.0f, -3.0f, 0.0f&#41;;
ninja.setLocalTranslation&#40;0.0f, -5.0f, -2.0f&#41;;
rootNode.attachChild&#40;ninja&#41;;
// You must add a directional light to make the model visible!
DirectionalLight sun = new DirectionalLight&#40;&#41;;
sun.setDirection&#40;new Vector3f&#40;-0.1f, -0.7f, -1.0f&#41;.normalizeLocal&#40;&#41;&#41;;
rootNode.addLight&#40;sun&#41;;</pre>

<p>
Note that you do not need to create a Material if you exported the model with a material. Remember to add a light source, as shown, otherwise the material (and the whole model) is not visible!
</p>

</div>
<!-- EDIT6 SECTION "Loading a Model" [6337-7266] -->
<h3><a>Loading Assets From Custom Paths</a></h3>
<div>

<p>

What if your game relies on user supplied model files, that are not included in the distribution? If a file is not located in the default location (e.g. assets directory), you can register a custom Locator and load it from any path. 
</p>

<p>
Here is a usage example of a ZipLocator that is registered to a file <code>town.zip</code> in the top level of your project directory:
</p>
<pre>    assetManager.registerLocator&#40;&quot;town.zip&quot;, ZipLocator.class&#41;;
    Spatial scene = assetManager.loadModel&#40;&quot;main.scene&quot;&#41;;
    rootNode.attachChild&#40;scene&#41;;</pre>

<p>
Here is a HttpZipLocator that can download zipped models and load them:
</p>
<pre>    assetManager.registerLocator&#40;
      &quot;http://jmonkeyengine.googlecode.com/files/wildhouse.zip&quot;, 
      HttpZipLocator.class&#41;;
    Spatial scene = assetManager.loadModel&#40;&quot;main.scene&quot;&#41;;
    rootNode.attachChild&#40;scene&#41;;</pre>

<p>
JME3 offers ClasspathLocator, ZipLocator, FileLocator, HttpZipLocator, and UrlLocator (see <code>com.jme3.asset.plugins</code>). 
</p>

</div>
<!-- EDIT7 SECTION "Loading Assets From Custom Paths" [7267-8284] -->
<h2><a>Creating Models and Scenes</a></h2>
<div>

<p>

To create 3D models and scenes, you need a 3D Mesh Editor with an OgreXML Exporter plugin. For example, you can <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://en.wikibooks.org/wiki/Blender_3D:_Noob_to_Pro/UV_Map_Basics"><param name="text" value="<html><u>create fully textured models with Blender</u></html>"><param name="textColor" value="blue"></object>.
You use the <a href="/com/jme3/gde/docs/sdk.html">SDK</a> to <a href="/com/jme3/gde/docs/sdk/model_loader_and_viewer.html">load models</a>, <a href="/com/jme3/gde/docs/sdk/blender.html">convert models</a> and <a href="/com/jme3/gde/docs/sdk/scene_composer.html">create scenes</a> from them. 
</p>

<p>
If you use Blender, export your models as Ogre <acronym title="Extensible Markup Language">XML</acronym> meshes with materials as follows:
</p>
<ol>
<li><div> Open the menu File &gt; Export &gt; OgreXML Exporter to open the exporter dialog.</div>
</li>
<li><div> In the Export Materials field: Give the material the same name as the model. For example, the model <code>something.mesh.xml</code> goes with <code>something.material</code>, plus (optionally) <code>something.skeleton.xml</code> and some <acronym title="Joint Photographics Experts Group">JPG</acronym> texture files.</div>
</li>
<li><div> In the Export Meshes field: Select a subdirectory of your <code>assets/Models/</code> directory. E.g. <code>assets/Models/something/</code>.</div>
</li>
<li><div> Activate the following exporter settings: </div>
<ul>
<li><div> Copy Textures: YES</div>
</li>
<li><div> Rendering Materials: YES</div>
</li>
<li><div> Flip Axis: YES</div>
</li>
<li><div> Require Materials: YES</div>
</li>
<li><div> Skeleton name follows mesh: YES</div>
</li>
</ul>
</li>
<li><div> Click export.</div>
</li>
</ol>

</div>
<!-- EDIT8 SECTION "Creating Models and Scenes" [8285-9444] -->
<h3><a>Model File Formats</a></h3>
<div>

<p>

JME3 can load Ogre <acronym title="Extensible Markup Language">XML</acronym> models + materials, Ogre DotScenes, as well as Wavefront OBJ+MTL models. The loadModel() code works with these files when you run the code directly from the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>. 
</p>

<p>
If you build the executables using the default build script, then <strong>the original model files (<acronym title="Extensible Markup Language">XML</acronym>, OBJ, etc) are not included.</strong> When you run the executable, you get an error message if you try to load any models directly: 
</p>
<pre>com.jme3.asset.DesktopAssetManager loadAsset
WARNING: Cannot locate resource: Models/Ninja/Ninja.mesh.xml
com.jme3.app.Application handleError
SEVERE: Uncaught exception thrown in Thread[LWJGL Renderer Thread,5,main]
java.lang.NullPointerException</pre>

<p>
Loading the <acronym title="Extensible Markup Language">XML</acronym>/OBJ files directly is only acceptable during the development phase. If your graphic designer pushes updated files to the asset directory, you can quickly review the latest version in your development environment.
</p>

<p>
For testing and for the final release build, you use .j3o files exclusively. J3o is an optimized binary format for jME3 applications, and .j3o files are automatically included in the distributable JAR file by the build script. When you do QA test builds or are ready to release, use the <a href="/com/jme3/gde/docs/sdk.html">SDK</a> to <a href="/com/jme3/gde/docs/sdk/model_loader_and_viewer.html">convert</a> all .obj/.scene/.xml/.blend files to .j3o files, and only load the .j3o versions.
</p>

<p>
Open your JME3 Project in the jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>.
</p>
<ol>
<li><div> Right-click a .Blend, .OBJ, or .mesh.xml file in the Projects window, and choose &quot;convert to JME3 binary&quot;. </div>
</li>
<li><div> The .j3o file appears next to the .mesh.xml file and has the same name. </div>
</li>
<li><div> Change all your loadModel() lines accordingly. For example: <pre>Spatial ninja = assetManager.loadModel&#40;&quot;Models/Ninja/Ninja.j3o&quot;&#41;;</pre>
</div>
</li>
</ol>

<p>

If your executable gets a runtime exception, make sure you have converted all models to .j3o!
</p>

</div>
<!-- EDIT9 SECTION "Model File Formats" [9445-11297] -->
<h3><a>Loading Models and Scenes</a></h3>
<div>
<div><table>
	<tr>
		<th> Task? </th><th> Solution! </th>
	</tr>
	<tr>
		<td> Load a model with materials </td><td> Use the asset manager&#039;s <code>loadModel()</code> method and attach the Spatial to the rootNode. <pre>Spatial elephant = assetManager.loadModel&#40;&quot;Models/Elephant/Elephant.mesh.xml&quot;&#41;;
rootNode.attachChild&#40;elephant&#41;;</pre>
<pre>Spatial elephant = assetManager.loadModel&#40;&quot;Models/Elephant/Elephant.j3o&quot;&#41;;
rootNode.attachChild&#40;elephant&#41;;</pre>
</td>
	</tr>
	<tr>
		<td> Load a model without materials </td><td> If you have a model without materials, you have to give it a material to make it visible. <pre>Spatial teapot = assetManager.loadModel&#40;&quot;Models/Teapot/Teapot.j3o&quot;&#41;;
Material mat = new Material&#40;assetManager, &quot;Common/MatDefs/Misc/ShowNormals.j3md&quot;&#41;; // default material
teapot.setMaterial&#40;mat&#41;;
rootNode.attachChild&#40;teapot&#41;;</pre>
</td>
	</tr>
	<tr>
		<td> Load a scene </td><td> You load scenes just like you load models: <pre>Spatial scene = assetManager.loadModel&#40;&quot;Scenes/town/main.scene&quot;&#41;;
rootNode.attachChild&#40;scene&#41;;</pre>
<pre>Spatial scene = assetManager.loadModel&#40;&quot;Scenes/town/main.j3o&quot;&#41;;
rootNode.attachChild&#40;scene&#41;;</pre>
</td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [11335-12389] -->
</div>
<!-- EDIT10 SECTION "Loading Models and Scenes" [11298-12390] -->
<h2><a>Excercise - How to Load Assets</a></h2>
<div>

<p>

As an exercise, let&#039;s try different ways of loading a scene. You will learn how to load the scene directly, or from a zip file.
</p>
<ol>
<li><div> <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://jmonkeyengine.googlecode.com/svn/trunk/engine/town.zip"><param name="text" value="<html><u>Download the town.zip</u></html>"><param name="textColor" value="blue"></object> sample scene. </div>
</li>
<li><div> (Optional:) Unzip the town.zip to see the structure of the contained Ogre dotScene: You&#039;ll get a directory named <code>town</code>. It contains <acronym title="Extensible Markup Language">XML</acronym> and texture files, and file called main.scene. (This is just for your information, you do not need to do anything with it.)</div>
</li>
<li><div> Place the town.zip file in the top level directory of your JME3 project, like so: <pre>jMonkeyProjects/MyGameProject/assets/
jMonkeyProjects/MyGameProject/build.xml
jMonkeyProjects/MyGameProject/src/
jMonkeyProjects/MyGameProject/town.zip
...</pre>
</div>
</li>
</ol>

<p>

Use the following method to load models from a zip file:

</p>
<ol>
<li><div> Verify <code>town.zip</code> is in the project directory.</div>
</li>
<li><div> Register a zip file locator to the project directory: Add the following code under <code>simpleInitApp() {</code><pre>    assetManager.registerLocator&#40;&quot;town.zip&quot;, ZipLocator.class&#41;;
    Spatial gameLevel = assetManager.loadModel&#40;&quot;main.scene&quot;&#41;;
    gameLevel.setLocalTranslation&#40;0, -5.2f, 0&#41;;
    gameLevel.setLocalScale&#40;2&#41;;
    rootNode.attachChild&#40;gameLevel&#41;;</pre>

<p>
The loadModel() method now searches this zip directly for the files to load. <br/>
(This means, do not write <code>loadModel(town.zip/main.scene)</code> or similar!)
</p>
</div>
</li>
<li><div> Clean, build and run the project. <br/>
You should now see the Ninja+wall+teapot standing in a town. </div>
</li>
</ol>

<p>

<strong>Tip:</strong> If you register new locators, make sure you do not get any file name conflicts: Don&#039;t name all scenes <code>main.scene</code> but give each scene a unique name.
</p>

<p>
Earlier in this tutorial, you loaded scenes and models from the asset directory. This is the most common way you will be loading scenes and models. Here is the typical procedure:

</p>
<ol>
<li><div> Remove the code that you added for the previous exercise.</div>
</li>
<li><div> Move the unzipped <code>town/</code> directory into the <code>assets/Scenes/</code> directory of your project.</div>
</li>
<li><div> Add the following code under <code>simpleInitApp() {</code> <pre>    Spatial gameLevel = assetManager.loadModel&#40;&quot;Scenes/town/main.scene&quot;&#41;;
    gameLevel.setLocalTranslation&#40;0, -5.2f, 0&#41;;
    gameLevel.setLocalScale&#40;2&#41;;
    rootNode.attachChild&#40;gameLevel&#41;;</pre>

<p>
 Note that the path is relative to the <code>assets/???</code> directory.
</p>
</div>
</li>
<li><div> Clean, build and run the project. Again, you should see the Ninja+wall+teapot standing in a town. </div>
</li>
</ol>

<p>

Here is a third method you must know, loading a scene/model from a .j3o file:

</p>
<ol>
<li><div> Remove the code from the previous exercise.</div>
</li>
<li><div> If you haven&#039;t already, open the <a href="/com/jme3/gde/docs/sdk.html">SDK</a> and open the project that contains the HelloAsset class.</div>
</li>
<li><div> In the projects window, browse to the <code>assets/Scenes/town</code> directory. </div>
</li>
<li><div> Right-click the <code>main.scene</code> and convert the scene to binary: The jMoneyPlatform generates a main.j3o file.</div>
</li>
<li><div> Add the following code under <code>simpleInitApp() {</code><pre>    Spatial gameLevel = assetManager.loadModel&#40;&quot;Scenes/town/main.j3o&quot;&#41;;
    gameLevel.setLocalTranslation&#40;0, -5.2f, 0&#41;;
    gameLevel.setLocalScale&#40;2&#41;;
    rootNode.attachChild&#40;gameLevel&#41;;</pre>

<p>
 Again, note that the path is relative to the <code>assets/???</code> directory.
</p>
</div>
</li>
<li><div> Clean, Build and run the project. <br/>
Again, you should see the Ninja+wall+teapot standing in a town. </div>
</li>
</ol>

</div>
<!-- EDIT12 SECTION "Excercise - How to Load Assets" [12391-15725] -->
<h2><a>Conclusion</a></h2>
<div>

<p>

Now you know how to populate the scenegraph with static shapes and models, and how to build scenes. You have learned how to load assets using the <code>assetManager</code> and you have seen that the paths start relative to your project directory. Another important thing you have learned is to convert models to .j3o format for the executable JARs etc.
</p>

<p>
Let&#039;s add some action to the scene and continue with the <a href="/com/jme3/gde/docs/jme3/beginner/hello_main_event_loop.html">Update Loop</a>!

</p>
<hr/>

<p>
<strong>See also:</strong>
</p>
<ul>
<li><div> <a href="/com/jme3/gde/docs/jme3/external/blender.html">The definitive Blender import tutorial</a></div>
</li>
<li><div> <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://www.jmonkeyengine.com/forum/index.php?topic=14418.0"><param name="text" value="<html><u>Screenshots of a great loaded model</u></html>"><param name="textColor" value="blue"></object></div>
</li>
<li><div> <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://www.youtube.com/user/aramakara"><param name="text" value="<html><u>Video tutorials for getting OgreXML out of 3DS Max using OgreMax</u></html>"><param name="textColor" value="blue"></object></div>
</li>
<li><div> If you want to learn how to load sounds, see <a href="/com/jme3/gde/docs/jme3/beginner/hello_audio.html">Hello Audio</a></div>
</li>
<li><div> If you want to learn more about loading textures and materials, see <a href="/com/jme3/gde/docs/jme3/beginner/hello_material.html">Hello Material</a></div>
</li>
</ul>
<div><span>
	<a href="/wiki/doku.php/tag:beginner?do=showtag&amp;tag=tag%3Abeginner">beginner</a>,
	<a href="/wiki/doku.php/tag:intro?do=showtag&amp;tag=tag%3Aintro">intro</a>,
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:lightnode?do=showtag&amp;tag=tag%3Alightnode">lightnode</a>,
	<a href="/wiki/doku.php/tag:material?do=showtag&amp;tag=tag%3Amaterial">material</a>,
	<a href="/wiki/doku.php/tag:model?do=showtag&amp;tag=tag%3Amodel">model</a>,
	<a href="/wiki/doku.php/tag:node?do=showtag&amp;tag=tag%3Anode">node</a>,
	<a href="/wiki/doku.php/tag:gui?do=showtag&amp;tag=tag%3Agui">gui</a>,
	<a href="/wiki/doku.php/tag:hud?do=showtag&amp;tag=tag%3Ahud">hud</a>,
	<a href="/wiki/doku.php/tag:texture?do=showtag&amp;tag=tag%3Atexture">texture</a>
</span></div>

</div>
<!-- EDIT13 SECTION "Conclusion" [15726-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:beginner:hello_asset?do=export_xhtmlbody">view online version</a></em></p>