
<h1><a>Welcome to the jMonkeyEngine SDK</a></h1>
<div>

<p>
You are running the latest version of the <acronym title="Software Development Kit">SDK</acronym> Application (jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> 3.0RC3), see below how you can check for incremental updates.
</p>

<p>
This place will be updated with the latest news about your <acronym title="Software Development Kit">SDK</acronym>.

</p>

</div>
<!-- EDIT1 SECTION "Welcome to the jMonkeyEngine SDK" [1-251] -->
<h3><a>Getting Started</a></h3>
<div>

<p>
Press the &quot;New Project&quot; button to create a new Project. Press the &quot;New File&quot; button to create new java files, materials, scenes, fonts and other files.
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/sdk/welcome/new_project.png" class="media" alt=""/>
</p>

</div>
<!-- EDIT2 SECTION "Getting Started" [252-471] -->
<h3><a>Tutorials / Manual</a></h3>
<div>

<p>
By pressing &quot;F1&quot; you can open the manual which contains up to date tutorials, documentation and more to help you get started. You can search the manual contents via the search field up right.
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/sdk/welcome/search_field.png" class="media" alt=""/>
</p>

</div>
<!-- EDIT3 SECTION "Tutorials / Manual" [472-735] -->
<h3><a>Updates</a></h3>
<div>

<p>
You can check for incremental updates to the application via the Help menu:
</p>

<p>
<img src="nbdocs:/com/jme3/gde/docs/sdk/welcome/help_update.png" class="media" alt=""/>

</p>

</div>
<!-- EDIT4 SECTION "Updates" [736-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/sdk:welcome:3_0rc3?do=export_xhtmlbody">view online version</a></em></p>