
<h1><a>Collision and Intersection</a></h1>
<div>

<p>

The term collision can be used to refer to <a href="/com/jme3/gde/docs/jme3/advanced/physics_listeners.html">physical interactions</a> (where <a href="/com/jme3/gde/docs/jme3/advanced/physics.html">physical objects</a> collide, push and bump off one another), and also to non-physical <em>intersections</em> in 3D space. This article is about the non-physical (mathematical) collisions.
</p>

<p>
Non-physical collision detection is interesting because it uses less computing resources than physical collision detection. The non-physical calculations are faster because they do not have any side effects such as pushing other objects or bumping off of them. Tasks such as <a href="/com/jme3/gde/docs/jme3/advanced/mouse_picking.html">mouse picking</a> are easily implemented using using mathematical techniques such as ray casting and intersections.  Experienced developers optimize their games by finding ways to simulate certain (otherwise expensive physical) interactions in a non-physical way. 
</p>

<p>
<strong>Example:</strong> One example for an optimization is a physical vehicle&#039;s wheels. You could make the wheels fully physical disks, and have jME calculate every tiny force ??? sounds very accurate? It&#039;s total overkill and too slow for a racing game. A more performant solution is to cast four invisible rays down from the vehicle and calculate the intersections with the floor. These non-physical wheels require (in the simplest case) only four calculations per tick to achieve an effect that players can hardly distinguish from the real thing.
</p>

</div>
<!-- EDIT1 SECTION "Collision and Intersection" [1-1438] -->
<h2><a>Collidable</a></h2>
<div>

<p>

The interface com.jme3.collision.Collidable declares one method that returns how many collisions were found between two Collidables: <code>collideWith(Collidable other, CollisionResults results)</code>.
</p>
<ul>
<li><div> A <code>com.jme3.collision.CollisionResults</code> object is an ArrayList of comparable <code>com.jme3.collision.CollisionResult</code> objects.</div>
</li>
<li><div> You can iterate over the CollisionResults to identify the other parties involved in the collision. <br/>
Note that jME counts <em>all</em> collisions, this means a ray intersecting a box will be counted as two hits, one on the front where the ray enters, and one on the back where the ray exits.</div>
</li>
</ul>
<div><table>
	<tr>
		<th>CollisionResults Method</th><th>Usage</th>
	</tr>
	<tr>
		<td>size()                </td><td>Returns the number of CollisionResult objects.</td>
	</tr>
	<tr>
		<td>getClosestCollision() </td><td>Returns the CollisionResult with the lowest distance.</td>
	</tr>
	<tr>
		<td>getFarthestCollision()</td><td>Returns the CollisionResult with the farthest distance.</td>
	</tr>
	<tr>
		<td>getCollision(i)       </td><td>Returns the CollisionResult at index i.</td>
	</tr>
</table></div>
<!-- EDIT3 TABLE [2081-2409] -->
<p>
A CollisionResult object contains information about the second party of the collision event.
</p>
<div><table>
	<tr>
		<th>CollisionResult Method</th><th>Usage</th>
	</tr>
	<tr>
		<td>getContactPoint()</td><td>Returns the contact point coordinate on the second party, as Vector3f.</td>
	</tr>
	<tr>
		<td>getContactNormal()</td><td>Returns the Normal vector at the contact point, as Vector3f.</td>
	</tr>
	<tr>
		<td>getDistance()</td><td>Returns the distance between the Collidable and the second party, as float.</td>
	</tr>
	<tr>
		<td>getGeometry()</td><td>Returns the Geometry of the second party.</td>
	</tr>
	<tr>
		<td>getTriangle(t)</td><td>Binds t to the triangle t on the second party&#039;s mesh that was hit.</td>
	</tr>
	<tr>
		<td>getTriangleIndex()</td><td>Returns the index of the triangle on the second party&#039;s mesh that was hit.</td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [2503-3036] -->
</div>
<!-- EDIT2 SECTION "Collidable" [1439-3037] -->
<h3><a>Code Sample</a></h3>
<div>

<p>

Assume you have two collidables a and b and want to detect collisions between them. The collision parties can be Geometries, Nodes with Geometries attached (including the rootNode), Planes, Quads, Lines, or Rays. An important restriction is that you can only collide geometry vs bounding volumes or rays. (This means for example that a must be of Type Node or Geometry and b respectively of Type BoundingBox, BoundingSphere or Ray.)
</p>

<p>
The following code snippet can be triggered by listeners (e.g. after an input action such as a click), or timed in the update loop.
</p>
<pre>  // Calculate detection results
  CollisionResults results = new CollisionResults&#40;&#41;;
  a.collideWith&#40;b, results&#41;;
  System.out.println&#40;&quot;Number of Collisions between&quot; + 
      a.getName&#40;&#41;+ &quot; and &quot; + b.getName&#40;&#41; + &quot;: &quot; + results.size&#40;&#41;&#41;;
  // Use the results
  if &#40;results.size&#40;&#41; &gt; 0&#41; &#123;
    // how to react when a collision was detected
    CollisionResult closest  = results.getClosestCollision&#40;&#41;;
    System.out.println&#40;&quot;What was hit? &quot; + closest.getGeometry&#40;&#41;.getName&#40;&#41; &#41;;
    System.out.println&#40;&quot;Where was it hit? &quot; + closest.getContactPoint&#40;&#41; &#41;;
    System.out.println&#40;&quot;Distance? &quot; + closest.getDistance&#40;&#41; &#41;;
  &#125; else &#123;
    // how to react when no collision occured
  &#125;
&#125;</pre>

<p>
You can also loop over all results and trigger different reactions depending on what was hit and where it was hit. In this example, we simply print info about them.
</p>
<pre>  // Calculate Results
  CollisionResults results = new CollisionResults&#40;&#41;;
  a.collideWith&#40;b, results&#41;;
  System.out.println&#40;&quot;Number of Collisions between&quot; + a.getName&#40;&#41;+ &quot; and &quot;
   + b.getName&#40;&#41; &quot; : &quot; + results.size&#40;&#41;&#41;;
  // Use the results
  for &#40;int i = 0; i &lt; results.size&#40;&#41;; i++&#41; &#123;
    // For each hit, we know distance, impact point, name of geometry.
    float     dist = results.getCollision&#40;i&#41;.getDistance&#40;&#41;;
    Vector3f    pt = results.getCollision&#40;i&#41;.getContactPoint&#40;&#41;;
    String   party = results.getCollision&#40;i&#41;.getGeometry&#40;&#41;.getName&#40;&#41;;
    int        tri = results.getCollision&#40;i&#41;.getTriangleIndex&#40;&#41;;
    Vector3f  norm = results.getCollision&#40;i&#41;.getTriangle&#40;new Triangle&#40;&#41;&#41;.getNormal&#40;&#41;;
    System.out.println&#40;&quot;Details of Collision #&quot; + i + &quot;:&quot;&#41;;
    System.out.println&#40;&quot;  Party &quot; + party + &quot; was hit at &quot; + pt + &quot;, &quot; + dist + &quot; wu away.&quot;&#41;;
    System.out.println&#40;&quot;  The hit triangle #&quot; + tri + &quot; has a normal vector of &quot; + norm&#41;;
  &#125;</pre>

<p>
Knowing the distance of the collisions is useful for example when you intersect Lines and Rays with other objects.

</p>

</div>
<!-- EDIT5 SECTION "Code Sample" [3038-5576] -->
<h2><a>Bounding Volumes</a></h2>
<div>

<p>

A <code>com.jme3.bounding.BoundingVolume</code> is an interface for dealing with containment of a collection of points. All BoundingVolumes are <code>Collidable</code> and are used as optimization to calculate non-physical collisions more quickly: It&#039;s always faster to calculate an intersection between simple shapes like spheres and boxes than between complex shapes like models. 
</p>

<p>
jME3 computes bounding volumes for all objects. These bounding volumes are later used for frustum culling, which is making sure only objects visible on-screen are actually sent for rendering. 
</p>

<p>
All fast-paced action and shooter games use BoundingVolumes as an optimization. Wrap all complex models into simpler shapes ??? in the end, you get equally useful collision detection results, but faster. <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://en.wikipedia.org/wiki/Bounding_volume"><param name="text" value="<html><u>More about bounding volumes...</u></html>"><param name="textColor" value="blue"></object>
</p>

<p>
Supported types:
<img src="/wiki/lib/exe/fetch.php">
</p>
<ul>
<li><div> Type.AABB = Axis-aligned bounding box, that means it doesn&#039;t rotate, which makes it less precise. A <code>com.jme3.bounding.BoundingBox</code> is an axis-aligned cuboid used as a container for a group of vertices of a piece of geometry. A BoundingBox has a center and extents from that center along the x, y and z axis. This is the default bounding volume, since it is fairly fast to generate and gives better accuracy than the bounding sphere.</div>
</li>
<li><div> Type.Sphere: <code>com.jme3.bounding.BoundingSphere</code> is a sphere used as a container for a group of vertices of a piece of geometry. A BoundingSphere has a center and a radius.</div>
</li>
<li><div> Type.OBB = Oriented bounding box. This bounding box is more precise because it can rotate with its content, but is computationally more expensive. (Currently not supported.)</div>
</li>
<li><div> Type.Capsule = Cylinder with rounded ends, also called &quot;swept sphere&quot;. Typically used for mobile characters. (Currently not supported.)</div>
</li>
</ul>

<p>

<p><div>Note: If you are looking for bounding volumes for physical objects, use <a href="/com/jme3/gde/docs/jme3/advanced/physics.html">CollisionShapes</a>.
</div></p>

</p>

</div>
<!-- EDIT6 SECTION "Bounding Volumes" [5577-7620] -->
<h3><a>Usage</a></h3>
<div>

<p>

For example you can use Bounding Volumes on custom meshes, or complex non-physical shapes.

</p>
<pre>mesh.setBound&#40;new BoundingSphere&#40;&#41;&#41;;
mesh.updateBound&#40;&#41;;</pre>

</div>
<!-- EDIT7 SECTION "Usage" [7621-7802] -->
<h2><a>Mesh and Scene Graph Collision</a></h2>
<div>

<p>

One of the supported <code>Collidable</code>s are meshes and scene graph objects. To execute a collision detection query against a scene graph, use <code>Spatial.collideWith()</code>. This will traverse the scene graph and return any mesh collisions that were detected. Note that the first collision against a particular scene graph may take a long time, this is because a special data structure called <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://en.wikipedia.org/wiki/Bounding_interval_hierarchy"><param name="text" value="<html><u>|Bounding Interval Hierarchy (BIH)</u></html>"><param name="textColor" value="blue"></object> needs to be generated for the meshes. At a later point, the mesh could change and the BIH tree would become out of date, in that case, call <object classid="java:org.netbeans.modules.javahelp.BrowserDisplayer"><param name="content" value="http://jmonkeyengine.org/javadoc/com/jme3/scene/Mesh.html#createCollisionData()"><param name="text" value="<html><u>Mesh.createCollisionData()</u></html>"><param name="textColor" value="blue"></object> on the changed mesh to update the BIH tree.
</p>

</div>
<!-- EDIT8 SECTION "Mesh and Scene Graph Collision" [7803-8623] -->
<h2><a>Intersection</a></h2>
<div>

<p>

A <code>com.jme3.math.Ray</code> is an infinite line with a beginning, a direction, and no end; whereas a <code>com.jme3.math.Line</code> is an infinite line with only a direction (no beginning, no end).
</p>

<p>
Rays are used to perform line-of-sight calculations. This means you can detect what users were &quot;aiming at&quot; when they clicked or pressed a key. You can also use this to detect whether game characters can see something (or someone) or not.
</p>
<ul>
<li><div> <strong>Click to select:</strong> You can determine what a user has clicked by casting a ray from the camera forward in the direction of the camera. Now identify the closest collision of the ray with the rootNode, and you have the clicked object.</div>
</li>
<li><div> <strong>Line of sight:</strong> Cast a ray from a player in the direction of another player. Then you detect all collisions of this ray with other entities (walls versus foliage versus window panes) and use this to calculate how likely it is that one can see the other.</div>
</li>
</ul>

<p>

<p><div>These simple but powerful ray-surface intersection tests are called Ray Casting. As opposed to the more advanced Ray Tracing technique, Ray Casting does not follow the ray&#039;s reflection after the first hit ??? the ray just goes straight on.
</div></p>
</p>

<p>
Learn the details of how to implement <a href="/com/jme3/gde/docs/jme3/advanced/mouse_picking.html">Mouse Picking</a> here.
</p>
<hr/>

<p>
TODO:
</p>
<ul>
<li><div> Bounding Interval Hierarchy (<code>com.jme3.collision.bih.BIHNode</code>)</div>
</li>
<li><div> com.jme3.scene.CollisionData</div>
</li>
</ul>

</div>
<!-- EDIT9 SECTION "Intersection" [8624-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:advanced:collision_and_intersection?do=export_xhtmlbody">view online version</a></em></p>