
<h1><a>Polygon Meshes</a></h1>
<div>

<p>

<img src="nbdocs:/com/jme3/gde/docs/jme3/dolphin-mesh.png">
</p>

<p>
All visible game elements in a scene, whether it is a Model or a Shape, are made up of polygon meshes. JME3 has a com.jme3.scene.Mesh class that represents all meshes.

</p>
<ul>
<li><div> Meshes are made up of triangles. <br/>
<code>getTriangleCount(???)</code> and <code>getTriangle(???)</code></div>
</li>
<li><div> Each mesh has a unique ID <br/>
<code>getId()</code></div>
</li>
<li><div> Meshes have transformations: Location (local translation), rotation, scale.</div>
</li>
<li><div> Meshes have a bounding volume. jME3 can detect intersections (that is, non-physical collisions) between meshes, or between meshes and 2D elements such as rays. <br/>
<code>collideWith()</code>.</div>
</li>
<li><div> Meshes are locked with <code>setStatic()</code> and unlocked with <code>setDynamic()</code>. </div>
<ul>
<li><div> Static Meshes cannot be modified, but are more optimized and faster (they can be precalculated). </div>
</li>
<li><div> Dynamic Meshes can be modified live, but are not optimized and slower. </div>
</li>
</ul>
</li>
<li><div> (Optional) Meshes can have a LOD (level of detail optimization) that renders more or less details depending on distance from the camera.</div>
</li>
</ul>

<p>

You can use default <a href="/com/jme3/gde/docs/jme3/advanced/shape.html">Shape</a>s as meshes; load <a href="/com/jme3/gde/docs/jme3/advanced/3d_models.html">3D models</a> (i.e. meshes created in external applications); or create free-form <a href="/com/jme3/gde/docs/jme3/advanced/custom_meshes.html">custom meshes</a> programmatically. 
</p>

</div>
<!-- EDIT1 SECTION "Polygon Meshes" [1-1216] -->
<h2><a>Vertex Buffer</a></h2>
<div>

<p>

The VertexBuffer contains a particular type of geometry data used by Meshes. Every VertexBuffer set on a Mesh is sent as an attribute to the vertex shader to be processed.

</p>
<div><table>
	<tr>
		<th>Vertex Buffer Type</th><th>Description</th>
	</tr>
	<tr>
		<td>Type.Position </td><td>Position of the vertex (3 floats)</td>
	</tr>
	<tr>
		<td>Type.Index </td><td> Specifies the index buffer, must contain integer data.</td>
	</tr>
	<tr>
		<td>Type.TexCoord </td><td> Texture coordinate</td>
	</tr>
	<tr>
		<td>Type.TexCoord2 </td><td> Texture coordinate #2</td>
	</tr>
	<tr>
		<td>Type.Normal </td><td> Normal vector, normalized.</td>
	</tr>
	<tr>
		<td>Type.Tangent </td><td> Tangent vector, normalized.</td>
	</tr>
	<tr>
		<td>Type.Binormal </td><td> Binormal vector, normalized.</td>
	</tr>
	<tr>
		<td>Type.Color </td><td> Color and Alpha (4 floats)</td>
	</tr>
	<tr>
		<td>Type.Size </td><td>The size of the point when using point buffers.</td>
	</tr>
	<tr>
		<td>Type.InterleavedData </td><td> Specifies the source data for various vertex buffers when interleaving is used.</td>
	</tr>
	<tr>
		<td>Type.BindPosePosition </td><td> Inital vertex position, used with animation.</td>
	</tr>
	<tr>
		<td>Type.BindPoseNormal </td><td> Inital vertex normals, used with animation</td>
	</tr>
	<tr>
		<td>Type.BoneWeight </td><td> Bone weights, used with animation</td>
	</tr>
	<tr>
		<td>Type.BoneIndex </td><td> Bone indices, used with animation</td>
	</tr>
</table></div>
<!-- EDIT3 TABLE [1417-2236] --><div><table>
	<tr>
		<th>Mesh method</th><th>Description</th>
	</tr>
	<tr>
		<td>setLineWidth(1)</td>
	</tr>
	<tr>
		<td>setPointSize(4.0f)</td>
	</tr>
	<tr>
		<td>setBound(boundingVolume)</td>
	</tr>
	<tr>
		<td>setStatic()</td><td>Locks the mesh so you cannot modify it anymore, thus optimizing its data (faster).</td>
	</tr>
	<tr>
		<td>setDynamic()</td><td>Unlocks the mesh so you can modified it, but this will un-optimize the data (slower).</td>
	</tr>
	<tr>
		<td>setMode(Mesh.Mode.Points)</td><td> Used to set mesh modes, see below</td>
	</tr>
	<tr>
		<td>getId()</td>
	</tr>
	<tr>
		<td>getTriangle(int,tri)</td>
	</tr>
	<tr>
		<td>scaleTextureCoordinates(Vector2f)</td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [2238-2665] --><div><table>
	<tr>
		<th>Mesh Mode</th><th>Description</th>
	</tr>
	<tr>
		<td>Mesh.Mode.Points</td><td>Show only corner points</td>
	</tr>
	<tr>
		<td>Mesh.Mode.Lines</td><td>Show lines</td>
	</tr>
	<tr>
		<td>Mesh.Mode.LineLoop</td><td>?</td>
	</tr>
	<tr>
		<td>Mesh.Mode.LineStrip</td><td>?</td>
	</tr>
	<tr>
		<td>Mesh.Mode.Triangles</td><td>?</td>
	</tr>
	<tr>
		<td>Mesh.Mode.TriangleStrip</td><td>?</td>
	</tr>
	<tr>
		<td>Mesh.Mode.TriangleFan</td><td>?</td>
	</tr>
	<tr>
		<td>Mesh.Mode.Hybrid</td><td>?</td>
	</tr>
</table></div>
<!-- EDIT5 TABLE [2667-2908] --><div><span>
	<a href="/wiki/doku.php/tag:spatial?do=showtag&amp;tag=tag%3Aspatial">spatial</a>,
	<a href="/wiki/doku.php/tag:node?do=showtag&amp;tag=tag%3Anode">node</a>,
	<a href="/wiki/doku.php/tag:mesh?do=showtag&amp;tag=tag%3Amesh">mesh</a>,
	<a href="/wiki/doku.php/tag:geometry?do=showtag&amp;tag=tag%3Ageometry">geometry</a>,
	<a href="/wiki/doku.php/tag:scenegraph?do=showtag&amp;tag=tag%3Ascenegraph">scenegraph</a>
</span></div>

</div>
<!-- EDIT2 SECTION "Vertex Buffer" [1217-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:advanced:mesh?do=export_xhtmlbody">view online version</a></em></p>