
<h2><a>Terrain Collision</a></h2>
<div>

<p>

This tutorial expands the HelloTerrain tutorial and makes the terrain solid. You combine what you learned in <a href="/com/jme3/gde/docs/jme3/beginner/hello_terrain.html">Hello Terrain</a> and <a href="/com/jme3/gde/docs/jme3/beginner/hello_collision.html">Hello Collision</a> and add a CollisionShape to the terrain. The terrain&#039;s CollisionShape lets the first-person player (who is also a CollisionShape) collide with the terrain, i.e. walk on it and stand on it. 
</p>

</div>
<!-- EDIT1 SECTION "Terrain Collision" [1-401] -->
<h2><a>Sample Code</a></h2>
<div>
<pre>package jme3test.helloworld;
&nbsp;
import com.jme3.app.SimpleApplication;
import com.jme3.bullet.BulletAppState;
import com.jme3.bullet.collision.shapes.CapsuleCollisionShape;
import com.jme3.bullet.collision.shapes.CollisionShape;
import com.jme3.bullet.control.CharacterControl;
import com.jme3.bullet.control.RigidBodyControl;
import com.jme3.bullet.util.CollisionShapeFactory;
import com.jme3.input.KeyInput;
import com.jme3.input.controls.ActionListener;
import com.jme3.input.controls.KeyTrigger;
import com.jme3.material.Material;
import com.jme3.math.Vector3f;
import com.jme3.renderer.Camera;
import com.jme3.scene.Node;
import com.jme3.terrain.geomipmap.TerrainLodControl;
import com.jme3.terrain.heightmap.AbstractHeightMap;
import com.jme3.terrain.geomipmap.TerrainQuad;
import com.jme3.terrain.heightmap.ImageBasedHeightMap;
import com.jme3.texture.Texture;
import com.jme3.texture.Texture.WrapMode;
import java.util.ArrayList;
import java.util.List;
import jme3tools.converters.ImageToAwt;
&nbsp;
<span>/**
 * This demo shows a terrain with collision detection, 
 * that you can walk around in with a first-person perspective.
 * This code combines HelloCollision and HelloTerrain.
 */</span>
public class HelloTerrainCollision extends SimpleApplication
        implements ActionListener &#123;
&nbsp;
  private BulletAppState bulletAppState;
  private RigidBodyControl landscape;
  private CharacterControl player;
  private Vector3f walkDirection = new Vector3f&#40;&#41;;
  private boolean left = false, right = false, up = false, down = false;
  private TerrainQuad terrain;
  private Material mat_terrain;
&nbsp;
  public static void main&#40;String&#91;&#93; args&#41; &#123;
    HelloTerrainCollision app = new HelloTerrainCollision&#40;&#41;;
    app.start&#40;&#41;;
  &#125;
&nbsp;
  @Override
  public void simpleInitApp&#40;&#41; &#123;
    /** Set up Physics */
    bulletAppState = new BulletAppState&#40;&#41;;
    stateManager.attach&#40;bulletAppState&#41;;
    //bulletAppState.getPhysicsSpace().enableDebug(assetManager);
&nbsp;
    flyCam.setMoveSpeed&#40;100&#41;;
    setUpKeys&#40;&#41;;
&nbsp;
    /** 1. Create terrain material and load four textures into it. */
    mat_terrain = new Material&#40;assetManager, 
            &quot;Common/MatDefs/Terrain/Terrain.j3md&quot;&#41;;
&nbsp;
    /** 1.1) Add ALPHA map (for red-blue-green coded splat textures) */
    mat_terrain.setTexture&#40;&quot;Alpha&quot;, assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/alphamap.png&quot;&#41;&#41;;
&nbsp;
    /** 1.2) Add GRASS texture into the red layer (Tex1). */
    Texture grass = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/grass.jpg&quot;&#41;;
    grass.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex1&quot;, grass&#41;;
    mat_terrain.setFloat&#40;&quot;Tex1Scale&quot;, 64f&#41;;
&nbsp;
    /** 1.3) Add DIRT texture into the green layer (Tex2) */
    Texture dirt = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/dirt.jpg&quot;&#41;;
    dirt.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex2&quot;, dirt&#41;;
    mat_terrain.setFloat&#40;&quot;Tex2Scale&quot;, 32f&#41;;
&nbsp;
    /** 1.4) Add ROAD texture into the blue layer (Tex3) */
    Texture rock = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/road.jpg&quot;&#41;;
    rock.setWrap&#40;WrapMode.Repeat&#41;;
    mat_terrain.setTexture&#40;&quot;Tex3&quot;, rock&#41;;
    mat_terrain.setFloat&#40;&quot;Tex3Scale&quot;, 128f&#41;;
&nbsp;
    /** 2. Create the height map */
    AbstractHeightMap heightmap = null;
    Texture heightMapImage = assetManager.loadTexture&#40;
            &quot;Textures/Terrain/splat/mountains512.png&quot;&#41;;
    heightmap = new ImageBasedHeightMap&#40;heightMapImage.getImage&#40;&#41;&#41;;
    heightmap.load&#40;&#41;;
&nbsp;
    <span>/** 3. We have prepared material and heightmap. 
     * Now we create the actual terrain:
     * 3.1) Create a TerrainQuad and name it &quot;my terrain&quot;.
     * 3.2) A good value for terrain tiles is 64x64 -- so we supply 64+1=65.
     * 3.3) We prepared a heightmap of size 512x512 -- so we supply 512+1=513.
     * 3.4) As LOD step scale we supply Vector3f(1,1,1).
     * 3.5) We supply the prepared heightmap itself.
     */</span>
    terrain = new TerrainQuad&#40;&quot;my terrain&quot;, 65, 513, heightmap.getHeightMap&#40;&#41;&#41;;
&nbsp;
    /** 4. We give the terrain its material, position &amp; scale it, and attach it. */
    terrain.setMaterial&#40;mat_terrain&#41;;
    terrain.setLocalTranslation&#40;0, -100, 0&#41;;
    terrain.setLocalScale&#40;2f, 1f, 2f&#41;;
    rootNode.attachChild&#40;terrain&#41;;
&nbsp;
    /** 5. The LOD (level of detail) depends on were the camera is: */
    List&lt;Camera&gt; cameras = new ArrayList&lt;Camera&gt;&#40;&#41;;
    cameras.add&#40;getCamera&#40;&#41;&#41;;
    TerrainLodControl control = new TerrainLodControl&#40;terrain, cameras&#41;;
    terrain.addControl&#40;control&#41;;
&nbsp;
    /** 6. Add physics: */ 
    // We set up collision detection for the scene by creating a
    // compound collision shape and a static RigidBodyControl with mass zero.*/
    CollisionShape terrainShape =
            CollisionShapeFactory.createMeshShape&#40;&#40;Node&#41; terrain&#41;;
    landscape = new RigidBodyControl&#40;terrainShape, 0&#41;;
    terrain.addControl&#40;landscape&#41;;
&nbsp;
    // We set up collision detection for the player by creating
    // a capsule collision shape and a CharacterControl.
    // The CharacterControl offers extra settings for
    // size, stepheight, jumping, falling, and gravity.
    // We also put the player in its starting position.
    CapsuleCollisionShape capsuleShape = new CapsuleCollisionShape&#40;1.5f, 6f, 1&#41;;
    player = new CharacterControl&#40;capsuleShape, 0.05f&#41;;
    player.setJumpSpeed&#40;20&#41;;
    player.setFallSpeed&#40;30&#41;;
    player.setGravity&#40;30&#41;;
    player.setPhysicsLocation&#40;new Vector3f&#40;-10, 10, 10&#41;&#41;;
&nbsp;
    // We attach the scene and the player to the rootnode and the physics space,
    // to make them appear in the game world.
    bulletAppState.getPhysicsSpace&#40;&#41;.add&#40;terrain&#41;;
    bulletAppState.getPhysicsSpace&#40;&#41;.add&#40;player&#41;;
&nbsp;
  &#125;
  <span>/** We over-write some navigational key mappings here, so we can
   * add physics-controlled walking and jumping: */</span>
  private void setUpKeys&#40;&#41; &#123;
    inputManager.addMapping&#40;&quot;Left&quot;, new KeyTrigger&#40;KeyInput.KEY_A&#41;&#41;;
    inputManager.addMapping&#40;&quot;Right&quot;, new KeyTrigger&#40;KeyInput.KEY_D&#41;&#41;;
    inputManager.addMapping&#40;&quot;Up&quot;, new KeyTrigger&#40;KeyInput.KEY_W&#41;&#41;;
    inputManager.addMapping&#40;&quot;Down&quot;, new KeyTrigger&#40;KeyInput.KEY_S&#41;&#41;;
    inputManager.addMapping&#40;&quot;Jump&quot;, new KeyTrigger&#40;KeyInput.KEY_SPACE&#41;&#41;;
    inputManager.addListener&#40;this, &quot;Left&quot;&#41;;
    inputManager.addListener&#40;this, &quot;Right&quot;&#41;;
    inputManager.addListener&#40;this, &quot;Up&quot;&#41;;
    inputManager.addListener&#40;this, &quot;Down&quot;&#41;;
    inputManager.addListener&#40;this, &quot;Jump&quot;&#41;;
  &#125;
&nbsp;
  <span>/** These are our custom actions triggered by key presses.
   * We do not walk yet, we just keep track of the direction the user pressed. */</span>
  public void onAction&#40;String binding, boolean value, float tpf&#41; &#123;
    if &#40;binding.equals&#40;&quot;Left&quot;&#41;&#41; &#123;
      if &#40;value&#41; &#123; left = true; &#125; else &#123; left = false; &#125;
    &#125; else if &#40;binding.equals&#40;&quot;Right&quot;&#41;&#41; &#123;
      if &#40;value&#41; &#123; right = true; &#125; else &#123; right = false; &#125;
    &#125; else if &#40;binding.equals&#40;&quot;Up&quot;&#41;&#41; &#123;
      if &#40;value&#41; &#123; up = true; &#125; else &#123; up = false; &#125;
    &#125; else if &#40;binding.equals&#40;&quot;Down&quot;&#41;&#41; &#123;
      if &#40;value&#41; &#123; down = true; &#125; else &#123; down = false; &#125;
    &#125; else if &#40;binding.equals&#40;&quot;Jump&quot;&#41;&#41; &#123;
      player.jump&#40;&#41;;
    &#125;
  &#125;
&nbsp;
  <span>/**
   * This is the main event loop--walking happens here.
   * We check in which direction the player is walking by interpreting
   * the camera direction forward (camDir) and to the side (camLeft).
   * The setWalkDirection() command is what lets a physics-controlled player walk.
   * We also make sure here that the camera moves with player.
   */</span>
  @Override
  public void simpleUpdate&#40;float tpf&#41; &#123;
    Vector3f camDir = cam.getDirection&#40;&#41;.clone&#40;&#41;.multLocal&#40;0.6f&#41;;
    Vector3f camLeft = cam.getLeft&#40;&#41;.clone&#40;&#41;.multLocal&#40;0.4f&#41;;
    walkDirection.set&#40;0, 0, 0&#41;;
    if &#40;left&#41;  &#123; walkDirection.addLocal&#40;camLeft&#41;; &#125;
    if &#40;right&#41; &#123; walkDirection.addLocal&#40;camLeft.negate&#40;&#41;&#41;; &#125;
    if &#40;up&#41;    &#123; walkDirection.addLocal&#40;camDir&#41;; &#125;
    if &#40;down&#41;  &#123; walkDirection.addLocal&#40;camDir.negate&#40;&#41;&#41;; &#125;
    player.setWalkDirection&#40;walkDirection&#41;;
    cam.setLocation&#40;player.getPhysicsLocation&#40;&#41;&#41;;
  &#125;
&#125;</pre>

<p>
To try this code, create a New Project ??? JME3 ??? BasicGame using the default settings. Paste the sample code over the pregenerated Main.java class. Chnage the package to &quot;mygame&quot; if necessary. Open the Project Properties, Libraries, and add the <code>jme3-test-data</code> library to make certain you have all the files. 
</p>

<p>
Compile and run the code. You should see a terrain. You can use the WASD keys and the mouse to run up and down the hills.
</p>

</div>
<!-- EDIT2 SECTION "Sample Code" [402-8791] -->
<h2><a>Understanding the Code</a></h2>
<div>

</div>
<!-- EDIT3 SECTION "Understanding the Code" [8792-8824] -->
<h3><a>The Terrain Code</a></h3>
<div>

<p>

Read <a href="/com/jme3/gde/docs/jme3/beginner/hello_terrain.html">Hello Terrain</a> for details of the following parts that we reuse:
</p>
<ol>
<li><div> The <code>AbstractHeightMap</code> is an efficient way to describe the shape of the terrain.</div>
</li>
<li><div> The <code>Terrain.j3md</code>-based Material and its texture layers let you colorize rocky mountain, grassy valleys, and a paved path criss-crossing over the landscape. </div>
</li>
<li><div> The TerrainQuad is the finished <code>terrain</code> Spatial that you attach to the rootNode.</div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "The Terrain Code" [8825-9281] -->
<h3><a>The Collision Detection Code</a></h3>
<div>

<p>
Read <a href="/com/jme3/gde/docs/jme3/beginner/hello_collision.html">Hello Collision</a> for details of the following parts that we reuse:
</p>
<ol>
<li><div> The <code>BulletAppState</code> lines activate physics.</div>
</li>
<li><div> The <code>ActionListener</code> (<code>onAction()</code>) lets you reconfigure the input handling for the first-person player, so it takes collision detection into account.</div>
</li>
<li><div> The custom <code>setUpKeys()</code> method loads your reconfigured input handlers. They now don&#039;t just walk blindly, but calculate the <code>walkDirection</code> vector that we need for collision detection.</div>
</li>
<li><div> <code>simpleUpdate()</code> uses the <code>walkDirection</code> vector and makes the character walk, while taking obstacles and solid walls/floor into account. <pre>player.setWalkDirection&#40;walkDirection&#41;;</pre>
</div>
</li>
<li><div> The RigidBodyControl <code>landscape</code> is the CollisionShape of the terrain.</div>
</li>
<li><div> The physical first-person player is a CapsuleCollisionShape with a CharacterControl.</div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "The Collision Detection Code" [9282-10182] -->
<h3><a>Combining the Two</a></h3>
<div>

<p>

Here are the changed parts to combine the two:

</p>
<ol>
<li><div> The CollisionShapeFactory creates the CollisionShape <code>terrainShape</code> for the <code>terrain</code> node.</div>
</li>
<li><div> Out of the <code>terrainShape</code>, you create a static (zero-mass) RigidBodyControl <code>landscape</code>. </div>
</li>
<li><div> Add the <code>landscape</code> control to the <code>terrain</code> to make it physical.</div>
</li>
</ol>
<pre>/** 6. Add physics: */ 
    CollisionShape terrainShape =
            CollisionShapeFactory.createMeshShape&#40;&#40;Node&#41; terrain&#41;;
    landscape = new RigidBodyControl&#40;terrainShape, 0&#41;;
    terrain.addControl&#40;landscape&#41;;  </pre>

<p>
You attach the <code>terrain</code> and the first-person <code>player</code> to the rootNode, and to the physics space, to make them appear in the game world.
</p>
<pre>    bulletAppState.getPhysicsSpace&#40;&#41;.add&#40;terrain&#41;;
    bulletAppState.getPhysicsSpace&#40;&#41;.add&#40;player&#41;;</pre>

</div>
<!-- EDIT6 SECTION "Combining the Two" [10183-11031] -->
<h2><a>Conclusion</a></h2>
<div>

<p>

You see that you can combine snippets of sample code (such as HelloTerrain and HelloCollision), and create a new application from it that combines two features into soemthing new.
</p>

<p>
You should spawn high up in the area and fall down to the map, giving you a few seconds to survey the area.  Then walk around and see how you like the lay of the land.
</p>
<hr/>

<p>
See also:

</p>
<ul>
<li><div> <a href="/com/jme3/gde/docs/jme3/beginner/hello_terrain.html">Hello Terrain</a>,</div>
</li>
<li><div> <a href="/com/jme3/gde/docs/jme3/advanced/terrain.html">Terrain</a></div>
</li>
</ul>
<div><span>
	<a href="/wiki/doku.php/tag:terrain?do=showtag&amp;tag=tag%3Aterrain">terrain</a>,
	<a href="/wiki/doku.php/tag:collision?do=showtag&amp;tag=tag%3Acollision">collision</a>
</span></div>

</div>
<!-- EDIT7 SECTION "Conclusion" [11032-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:advanced:terrain_collision?do=export_xhtmlbody">view online version</a></em></p>