
<h1><a>Main Update Loop</a></h1>
<div>

<p>

Extending your application from com.jme3.app.<a href="/com/jme3/gde/docs/jme3/intermediate/simpleapplication.html">SimpleApplication</a> provides you with an update loop. This is where you implement your game logic (game mechanics).
</p>

<p>
Some usage examples: Here you remote-control NPCs (computer controlled characters), generate game events, and respond to user input.
</p>

<p>
To let you see the main update loop in context, understand that the SimpleApplication does the following:
</p>
<ul>
<li><div> <strong>Initialization</strong> ??? Execute <code>simpleInitApp()</code> method once.</div>
</li>
<li><div> <strong>Main Update Loop</strong></div>
<ol>
<li><div> Input listeners respond to mouse clicks and keyboard presses ??? <a href="/com/jme3/gde/docs/jme3/advanced/input_handling.html">Input handling</a> </div>
</li>
<li><div> Update game state:</div>
<ol>
<li><div> Update overall game state ??? Execute <a href="/com/jme3/gde/docs/jme3/advanced/application_states.html">Application States</a></div>
</li>
<li><div> User code update ??? Execute <code>simpleUpdate()</code> method</div>
</li>
<li><div> Logical update of entities ??? Execute <a href="/com/jme3/gde/docs/jme3/advanced/custom_controls.html">Custom Controls</a></div>
</li>
</ol>
</li>
<li><div> Render audio and video</div>
<ol>
<li><div> <a href="/com/jme3/gde/docs/jme3/advanced/application_states.html">Application States</a> rendering.</div>
</li>
<li><div> Scene rendering.</div>
</li>
<li><div> User code rendering ??? Execute <code>simpleRender()</code> method.</div>
</li>
</ol>
</li>
<li><div> Repeat loop.</div>
</li>
</ol>
</li>
<li><div> <strong>Quit</strong> ??? If user requests <code>exit()</code>, execute <code>cleanup()</code> and <code>destroy()</code>. <br/>
The jME window closes and the loop ends.</div>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "Main Update Loop" [1-1170] -->
<h2><a>Usage</a></h2>
<div>

<p>

In a trivial <a href="/com/jme3/gde/docs/jme3/intermediate/simpleapplication.html">SimpleApplication</a> (such as a <a href="/com/jme3/gde/docs/jme3/beginner.html">Hello World tutorial</a>), all code is either in the <code>simpleInitApp()</code> (initialization) or <code>simpleUpdate()</code> (behaviour) method ??? or in a helper method/class that is called from one of these two. This trivial approach will make your main class very long, hard to read, and hard to maintain. You don&#039;t need to load the whole scene at once, and you don&#039;t need to run all conditionals tests all the time.
</p>

<p>
It&#039;s a best practice to modularize your game mechanics and spread out initialization and update loop code over several Java objects:
</p>
<ul>
<li><div> Move modular code blocks from the <code>simpleInitApp()</code> method into <a href="/com/jme3/gde/docs/jme3/advanced/application_states.html">AppStates</a>. Attach AppStates to initialize custom subsets of &quot;one dungeon&quot;, and detach it when the player exits this &quot;dungeon&quot;. <br/>
Examples: Weather/sky audio and visuals, physics collision shapes, sub-rootnodes of individual dungeons including dungeon NPCs, etc.</div>
</li>
<li><div> Move modular code blocks from the <code>simpleUpdate()</code> method into the update loops of <a href="/com/jme3/gde/docs/jme3/advanced/custom_controls.html">Custom Controls</a> to control individual entity behavior (NPCs), and into the update method of <a href="/com/jme3/gde/docs/jme3/advanced/application_states.html">AppStates</a> to control world events. <br/>
Examples: Weather behaviour, light behaviour, physics behaviour, individual NPC behaviour, trap behaviour, etc.</div>
</li>
</ul>
<div><span>
	<a href="/wiki/doku.php/tag:basegame?do=showtag&amp;tag=tag%3Abasegame">basegame</a>,
	<a href="/wiki/doku.php/tag:control?do=showtag&amp;tag=tag%3Acontrol">control</a>,
	<a href="/wiki/doku.php/tag:input?do=showtag&amp;tag=tag%3Ainput">input</a>,
	<a href="/wiki/doku.php/tag:init?do=showtag&amp;tag=tag%3Ainit">init</a>,
	<a href="/wiki/doku.php/tag:keyinput?do=showtag&amp;tag=tag%3Akeyinput">keyinput</a>,
	<a href="/wiki/doku.php/tag:loop?do=showtag&amp;tag=tag%3Aloop">loop</a>,
	<a href="/wiki/doku.php/tag:states?do=showtag&amp;tag=tag%3Astates">states</a>,
	<a href="/wiki/doku.php/tag:state?do=showtag&amp;tag=tag%3Astate">state</a>
</span></div>

</div>
<!-- EDIT2 SECTION "Usage" [1171-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/jme3:advanced:update_loop?do=export_xhtmlbody">view online version</a></em></p>