
<h1><a>jMonkeyEngine SDK: Scene Composer</a></h1>
<div>

<p>

SceneComposer allows you to edit scenes stored in j3o files and add content or modify existing content. Please note that the Scene Composer and Explorer are a work in progress and will provide more powerful functions in the future. Also other plugins will allow creation of more specific game type scenes in jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym>.
</p>

<p>
Most buttons in the SceneComposer have tooltips that appear when you hover the mouse over the button for a short while.
</p>

</div>
<!-- EDIT1 SECTION "jMonkeyEngine SDK: Scene Composer" [1-498] -->
<h3><a>Mouse/Cursor Controls</a></h3>
<div>
<ul>
<li><div> Left-click and drag to rotate the camera around the cam center</div>
</li>
<li><div> Right-click and drag to move the cam center</div>
</li>
<li><div> Scoll the mouse wheel to zoom in/out the cam center</div>
</li>
<li><div> Left-click a geometry to select it</div>
</li>
<li><div> Right-click a geometry to place the cursor</div>
</li>
</ul>

<p>

In the SceneComposer toolbar are buttons to snap the camera to the cursor, snap the cursor to the selection and etc.
</p>

</div>
<!-- EDIT2 SECTION "Mouse/Cursor Controls" [499-907] -->
<h3><a>Creating a scene file</a></h3>
<div>

<p>

The jMonkeyEngine <acronym title="Software Development Kit">SDK</acronym> stores the scene in a j3o file, this binary file contains the whole scenegraph including all settings for spatials, materials, physics, effects etc. Textures are not stored in the j3o file but as absolute locators to the textures.
</p>

<p>
To create a blank scene file do the following:
</p>
<ol>
<li><div> Right click the &quot;Scenes&quot; folder in your Project Assets and select &quot;New???Other&quot;</div>
</li>
<li><div> Select &quot;Scene&quot; to the left then select &quot;Empty jME3 Scene&quot; and press &quot;Next&quot;</div>
</li>
<li><div> Enter a file name for your scene like &quot;MyScene&quot; and press &quot;OK&quot;</div>
</li>
</ol>

</div>
<!-- EDIT3 SECTION "Creating a scene file" [908-1471] -->
<h3><a>Loading the scene</a></h3>
<div>

<p>

<img src="nbdocs:/com/jme3/gde/docs/sdk/jmonkeyplatform-docu-2.png">
</p>

<p>
To open a scene
</p>
<ol>
<li><div> In the Project Explorer, right-click the *.j3o file of the scene</div>
</li>
<li><div> Choose &quot;Open in SceneComposer&quot;</div>
</li>
</ol>

<p>

Now the SceneComposer window opens at the bottom and displays the scene in the SceneViewer. The SceneExplorer displays the contained scene graph as a tree and when selecting a node, you can edit the properties of the corresponding scene graph object in the Properties window.
</p>

<p>
For now, you only see the cursor in the SceneViewer and a single node (the root node of the scene) in the SceneExplorer.
</p>

</div>
<!-- EDIT4 SECTION "Loading the scene" [1472-2066] -->
<h3><a>Adding light to the scene</a></h3>
<div>
<ol>
<li><div> Select the root node in the SceneExplorer</div>
</li>
<li><div> Select &quot;Directional Light&quot; in the SceneComposer window</div>
</li>
<li><div> Press the &quot;+&quot; button in the SceneComposer window</div>
</li>
</ol>

<p>

A directional light has been added to your scene, you can see it in the SceneExplorer.
</p>

</div>
<!-- EDIT5 SECTION "Adding light to the scene" [2067-2350] -->
<h3><a>Adding effects etc. to the scene</a></h3>
<div>

<p>

You can add a variety of special objects with the SceneComposer, including lights, effects, audio etc.

</p>
<ol>
<li><div> Select root Node in the SceneExplorer</div>
</li>
<li><div> Select the object type in the list displayed in the SceneComposer window</div>
</li>
<li><div> Press the &quot;+ cursor&quot; button in the SceneComposer window</div>
</li>
</ol>

</div>
<!-- EDIT6 SECTION "Adding effects etc. to the scene" [2351-2678] -->
<h3><a>Adding Models to the scene</a></h3>
<div>

<p>

<img src="nbdocs:/com/jme3/gde/docs/sdk/jmonkeyplatform-docu-3.png">
</p>

<p>
You can directly import 3d models to your scene so that they will be part of your scene file. To be able to import for example an OgreXML file, first export it from your 3D editor to a separate folder in the assets folder of your project (e.g. assets/Models/MyModel/).

</p>
<ol>
<li><div> Place the SceneComposer cursor where you want the model to be</div>
</li>
<li><div> Select the parent Node for the model in the SceneExplorer</div>
</li>
<li><div> In the Project Explorer right-click the model file you want to import</div>
</li>
<li><div> Choose &quot;Add to SceneComposer&quot;</div>
</li>
</ol>

<p>

Note that when importing a model the texture paths are stored absolute, so the folder you import the model from will later only be a textures folder because the original model file is not included in the release.
</p>

<p>
Also note that when adding models this way, changes in the original model file will not be reflected in the scene file as its a complete copy of the original file. If you change the original model, delete the models node from the scene and import it again.
</p>

</div>
<!-- EDIT7 SECTION "Adding Models to the scene" [2679-3741] -->
<h3><a>Linking Models to the scene</a></h3>
<div>

<p>

You can also link models/objects into your scene, this way they are reloaded dynamically from the other/original file.

</p>
<ol>
<li><div> Place the SceneComposer cursor where you want the model to be</div>
</li>
<li><div> Select the parent Node for the model in the SceneExplorer</div>
</li>
<li><div> In the Project Explorer right-click the model file you want to link</div>
</li>
<li><div> Choose &quot;Link in SceneComposer&quot;</div>
</li>
</ol>

<p>

Note that when linking objects this way, you cannot edit them as part of the scene. To change the model you have to change the original j3o file.
</p>

<p>
Also note that although it its possible to directly link external model files (OgreXML, OBJ etc.), this is not recommended. Convert the original file to a j3o file by right-clicking it and selecting &quot;Convert to jME Binary&quot; before linking it. This is required because the original model files are not included in the release version of the application.
</p>

</div>
<!-- EDIT8 SECTION "Linking Models to the scene" [3742-4636] -->
<h3><a>Saving the Scene</a></h3>
<div>
<ol>
<li><div> When a scene has been changed, press the &quot;save&quot; button in the main toolbar or press [Ctrl-S] / [Apple-S] to save it.</div>
</li>
</ol>
<div><span>
	<a href="/wiki/doku.php/tag:documentation?do=showtag&amp;tag=tag%3Adocumentation">documentation</a>,
	<a href="/wiki/doku.php/tag:sdk?do=showtag&amp;tag=tag%3Asdk">sdk</a>,
	<a href="/wiki/doku.php/tag:scene?do=showtag&amp;tag=tag%3Ascene">scene</a>,
	<a href="/wiki/doku.php/tag:node?do=showtag&amp;tag=tag%3Anode">node</a>,
	<a href="/wiki/doku.php/tag:asset?do=showtag&amp;tag=tag%3Aasset">asset</a>,
	<a href="/wiki/doku.php/tag:light?do=showtag&amp;tag=tag%3Alight">light</a>,
	<a href="/wiki/doku.php/tag:effect?do=showtag&amp;tag=tag%3Aeffect">effect</a>
</span></div>

</div>
<!-- EDIT9 SECTION "Saving the Scene" [4637-] -->
<p><em><a href="http://jmonkeyengine.org/wiki/doku.php/sdk:scene_composer?do=export_xhtmlbody">view online version</a></em></p>